$navfg: rgb(54, 65,73);
$navbg: rgb(250,250,250);
$navheight: 50px;

$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospace: monospace;

html, body, #app {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: $sans;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

#app {
    display: relative;
    #nav {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        color: $navfg;
        font-family: $monospace;
        background-color: $navbg;
        border-right-color: rgba(0, 0, 0, 0.0666667);
        border-right-style: solid;
        border-right-width: 1px;
        height: $navheight;
        ul {
            margin: 0;
            padding: 2vh 2vw;
            /* padding: 1vh 0; */
            li {
                display: inline;
                padding: 2vh 2vw;
                list-style-type: none;
            }
        }
        a {
            color: $navfg;
            text-decoration: none;
        }
        .current, a:hover {
            color: #008cff;
        }
    }
    #content {
        position: absolute;
        left: 0;
        top: $navheight;
        overflow-y: auto;
        min-width: 320px;
        width: 100%;
        min-height: calc(100vh - #{$navheight});
        .programContainer {
            margin: 0 -10vw;
            width: calc(100% + 20vw);
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            background: black;
        }
        .program {
            flex: 0 0 auto;
        }
        
        >div>div {
            margin: 10vw;
        }
    }
}

